<header class="app-header">
  <button class="icon-button" type="button" [attr.aria-label]="i18n.translate('back')" (click)="goBack()">
    <svg viewBox="0 0 24 24" aria-hidden="true">
      <path d="m15 18-6-6 6-6" />
    </svg>
  </button>

  <h1>{{ title() }}</h1>

  <div class="header-actions">
    <button class="language-button" type="button" (click)="i18n.toggleLanguage()">
      {{ i18n.language() === 'en' ? 'ES' : 'EN' }}
    </button>
    <button class="icon-button" type="button" [attr.aria-label]="i18n.translate('notifications')">
  <svg viewBox="0 0 24 24" aria-hidden="true">
    <path
      d="M12 3a5 5 0 0 0-5 5v2.8c0 2.2-.8 4.1-2.2 5.7a1 1 0 0 0 .8 1.7h12.8a1 1 0 0 0 .8-1.7A8.6 8.6 0 0 1 17 10.8V8a5 5 0 0 0-5-5Z"
    />
    <path d="M9.8 20a2.5 2.5 0 0 0 4.4 0" />
  </svg>
</button>
  </div>
</header>
